
.container {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    margin: 16px 0px 16px 16px;
    background-color: white;
    border-radius: 4px;
}


.link {
    display: flex;

    flex-direction: column;
    align-items: center;

    width: 48px;
    padding-top: 8px;
    padding-bottom: 8px;

    border-bottom: 1px solid lightgrey;
    text-decoration: none;
}

.link > div {
    padding-top: 8px;
    text-decoration: none;
    color: black
}

.link:hover {
    background-color: darkgray;
}
.active {
    background-color: #d0d0ff;
}